html {
	background: url(../../../images/login/login_body_by1.jpg)no-repeat center center fixed;
	background-size: 100% auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

html,
body {
	min-width: 1200px;
	min-height: 540px;
	padding: 0;
	margin: 0;
	/*background: url(../img/login_body_by1.png);
	background-size: 100% auto;*/
}

.tf {
	background: transparent;
}

.content {
	width: 1200px;
	margin: 0 auto;
	margin-top: 8%;
}

.login-icon {
	float: left;
	width: 600px;
	margin-top:60px;
}

.login-content {
	width: 380px;
	height: 400px;
	float: left;
	margin-top: 18px;
}

.bottom_ {
	text-align: center;
	color: #000000;
	font-size: 14px;
	width: 100%;
	/*margin-top: 60px;*/
	width: 928px;
	position: fixed;
	bottom: 20px;
}

@media screen and (max-height: 650px) {
	.bottom_ {
		text-align: center;
		color: #000000;
		font-size: 14px;
		width: 100%;
		margin-top: 0px;
		position: static;
		bottom: 0px;
	}
}

.login_div {
	padding: 10px 40px;
	width: 700px;
	margin-top: 10%;
	height: 350px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	background: url(../../../images/login/login_bg.png);
	background-size: 100% auto;
}

h3 {
	padding: 10px 0;
}

.xian {
	width: 100%;
	height: 2px;
	background: #CFD4DA;
}

.WJMM {
	width: 100%;
	padding: 15px 0;
	text-align: right;
}

.input_item {
	width: 50%;
	/*padding: 5px 20px;*/
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.input_padding_1 {
	padding: 5px 20px 5px 0;
}

.input_padding_2 {
	padding: 5px 0px 5px 20px;
}

.input {
	width: 100%;
	height: 45px;
	padding: 0 50px 0 10px;
	border: 1px solid #CFD4DA;
	border-radius: 4px;
}

.img {
	position: absolute;
	background: url(../../../images/login/user_pass.png) no-repeat;
}

.user {
	height: 35px;
	width: 35px;
	right: 30px;
	top: 10px;
	background-position: 0 0;
}

.pass {
	height: 35px;
	width: 35px;
	right: 10px;
	top: 10px;
	background-position: -35px 0;
}

.login_btn_css {
	width: 100%;
	padding: 10px 0;
	margin-top: 30px;
}

.btn-default {
	color: white;
	background-color: #F44236;
	border-color: #ccc;
	width: 100px;
	height: 40px;
	border: 0;
	float: right;
}

.col-sm-12 {
	width: 100%;
}

.col-sm-11 {
	width: 91.66666667%;
}

.col-sm-10 {
	width: 83.33333333%;
}

.col-sm-9 {
	width: 75%;
}

.col-sm-8 {
	width: 66.66666667%;
}

.col-sm-7 {
	width: 58.33333333%;
}

.col-sm-6 {
	width: 50%;
}

.col-sm-5 {
	width: 41.66666667%;
}

.col-sm-4 {
	width: 33.33333333%;
}

.col-sm-3 {
	width: 25%;
}

.col-sm-2 {
	width: 16.66666667%;
}

.col-sm-1 {
	width: 8.33333333%;
}

.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9 {
	float: left;
}

.opa {
	width: 380px;
	height: 400px;
	border-radius: 10px;
	background-image: url(../../../images/login/login_backImg.png);
	background-size: 100%;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.login-con {
	width: 386px;
	height: 400px;
	position: absolute;
	margin-top: -406px;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
}

input:focus {
	outline: none !important;
}

.input_div {
	background-color: white;
	border-radius: 30px;
	height: 48px;
	margin-top: 20px;
}

.key_content {
	float: left;
	margin-top: 18px;
	font-size: 16px;
}

.key_content label {
	font-size: 20px;
}

.float_left {
	float: left;
}
.top_nonef{
	margin-top: 18px;
	margin-right: 15px;
	width:52px;
}
.input_div label {
	padding-top: 8px;
}

.input_div input {
	border: 0px;
	height: 48px;
	font-weight: 700;
	font-size: 15px;
}

.box-shadow {
	-webkit-box-shadow: 0 0 8px #999;
	-moz-box-shadow: 0 0 8px #999;
	box-shadow: 0 0 8px #999;
}

.checkbox-slider-info.checkbox-slider--b input:checked+ span::before,
.checkbox-slider-info.checkbox-slider--b-flat input:checked+ span::before,
.checkbox-slider-info.checkbox-slider--c input:checked+ span::before,
.checkbox-slider-info.checkbox-slider--c-weight input:checked+ span::before {
	background: #007AEC !important;
}

.checkbox-slider--b-flat input+ span {
	padding-left: 27px !important;
}

.btn:hover {
	background:url(../../../images/login/input_bac.png)center;
	border: 0px;
	color: white;
}

input {
	font-weight: normal !important;
}

.btn_ {
	padding: 0px;
	margin-bottom: 14px;
}

.btn_login {
	background-color: #ff8f00;
	border-radius: 30px;
	height: 48px;
	font-size: 20px;
	font-weight: normal;
	line-height: 24px;
	border: 0px;
	outline: medium !important; 
	color: white !important;
}

.sta_psw {
	font-size: 14px;
	float: left;
}

.none_psw {
	font-size: 14px;
	float: left;
	color: #000000;
	text-decoration: none;
	margin-top: 10px;
}

.clear {
	clear: both;
}

.padd_none {
	padding: 0px !important;
}
input:-webkit-autofill{
   -webkit-box-shadow: 0 0 0 1000px white inset !important;
}