<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kafei.mapper.OwnerMapper">
    <resultMap id="BaseResultMap" type="com.kafei.vo.Owner">
        <id column="phone" property="phone" jdbcType="BIGINT"/>
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="psd" property="psd" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="birth" property="birth" jdbcType="VARCHAR"/>
        <result column="job" property="job" jdbcType="VARCHAR"/>
        <result column="whcd" property="whcd" jdbcType="VARCHAR"/>
        <result column="zzmm" property="zzmm" jdbcType="VARCHAR"/>
        <result column="phonet" property="phonet" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="position" property="position" jdbcType="VARCHAR"/>
        <result column="acreage" property="acreage" jdbcType="DOUBLE"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="deleted" property="deleted" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        phone, id, name, sex, birth, job, whcd, zzmm, create_time, psd, phonet, deleted
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from o_owner
        where phone = #{phone,jdbcType=BIGINT}
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from o_owner
        where id=#{id}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM o_owner
        WHERE phone = #{phone,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" parameterType="com.kafei.vo.Owner" useGeneratedKeys="true" keyProperty="id">
        insert into o_owner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phone != null">
                phone,
            </if>
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="birth != null">
                birth,
            </if>
            <if test="job != null">
                job,
            </if>
            <if test="whcd != null">
                whcd,
            </if>
            <if test="zzmm != null">
                zzmm,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="psd != null">
                psd,
            </if>
            <if test="phonet != null">
                phonet,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phone != null">
                #{phone,jdbcType=BIGINT},
            </if>
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="birth != null">
                #{birth,jdbcType=VARCHAR},
            </if>
            <if test="job != null">
                #{job,jdbcType=VARCHAR},
            </if>
            <if test="whcd != null">
                #{whcd,jdbcType=VARCHAR},
            </if>
            <if test="zzmm != null">
                #{zzmm,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="psd != null">
                #{psd},
            </if>
            <if test="phonet != null">
                #{phonet,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.kafei.vo.Owner">
        <if test="oldPhone==null">
            update o_owner
            <set>
                <if test="id != null">
                    id = #{id,jdbcType=INTEGER},
                </if>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="sex != null">
                    sex = #{sex,jdbcType=VARCHAR},
                </if>
                <if test="birth != null">
                    birth = #{birth,jdbcType=VARCHAR},
                </if>
                <if test="job != null">
                    job = #{job,jdbcType=VARCHAR},
                </if>
                <if test="whcd != null">
                    whcd = #{whcd,jdbcType=VARCHAR},
                </if>
                <if test="zzmm != null">
                    zzmm = #{zzmm,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="psd != null">
                    psd=#{psd},
                </if>
                <if test="phonet != null">
                    phonet = #{phonet,jdbcType=VARCHAR},
                </if>
                <if test="deleted != null">
                    deleted = #{deleted},
                </if>
            </set>
            where phone = #{phone,jdbcType=BIGINT}
        </if>
        <if test="oldPhone!=null">
            update o_owner
            <set>
                <if test="id != null">
                    id = #{id,jdbcType=INTEGER},
                </if>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="sex != null">
                    sex = #{sex,jdbcType=VARCHAR},
                </if>
                <if test="birth != null">
                    birth = #{birth,jdbcType=VARCHAR},
                </if>
                <if test="job != null">
                    job = #{job,jdbcType=VARCHAR},
                </if>
                <if test="whcd != null">
                    whcd = #{whcd,jdbcType=VARCHAR},
                </if>
                <if test="zzmm != null">
                    zzmm = #{zzmm,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="psd != null">
                    psd=#{psd},
                </if>
                <if test="phone != null">
                    phone=#{phone},
                </if>
                <if test="phonet != null">
                    phonet = #{phonet,jdbcType=VARCHAR},
                </if>
                <if test="deleted != null">
                    deleted = #{deleted},
                </if>
            </set>
            where phone = #{oldPhone,jdbcType=BIGINT}
        </if>

    </update>

    <select id="selectOwnerOrgList" parameterType="owner" resultType="Map">
        SELECT
        b.id,
        a.id AS userId,
        a.`name` AS ownerName,
        a.phone,
        b.org_id AS orgId,
        b.position,
        b.acreage,
        c.`name` AS orgName,
        b.remark
        FROM
        o_owner a,
        o_owner_org b,
        o_org c
        WHERE
        a.deleted = 0
        AND a.id = b.user_id
        AND b.org_id = c.id
        <if test="orgId!=null">
            and b.org_id=#{orgId}
        </if>
        <if test="childOrg!=null">
            and b.org_id in
            <foreach collection="childOrg" item="o" open="(" separator="," close=")">
                ${o.id}
            </foreach>
        </if>
        <if test="searchStr!=null">
            and concat(a.name, a.phone,b.position) like concat('%',#{searchStr},'%')
        </if>
    </select>

    <update id="updateOwnerOrg" parameterType="owner">
        UPDATE o_owner_org
        SET org_id = #{orgId}, position = #{position}, acreage = #{acreage}, remark = #{remark}
        WHERE id = #{id}
    </update>
    <insert id="insertOwnerOrg" parameterType="owner">
        INSERT INTO o_owner_org (user_id, org_id, position, acreage, remark)
        VALUES (#{id}, #{orgId}, #{position}, #{acreage}, #{remark})
    </insert>

    <delete id="deleteOwnerOrg" parameterType="INTEGER">
        DELETE FROM o_owner_org
        WHERE id = #{id}
    </delete>

    <select id="selectList" parameterType="owner" resultMap="BaseResultMap">
        SELECT
        a.id,
        a.sex,
        a. NAME,
        a.phone,
        a.birth,
        a.create_time,
        a.job,
        a.zzmm,
        a.whcd,
        a.psd,
        GROUP_CONCAT(b.position) AS position,
        sum(b.acreage) AS acreage,
        GROUP_CONCAT(b.remark) AS remark
        FROM
        o_owner a LEFT JOIN
        o_owner_org b on a.id = b.user_id
        WHERE
        a.deleted = 0
        <if test="orgId!=null">
            and b.org_id=#{orgId}
        </if>
        <if test="phone!=null">
            and a.phone=#{phone}
        </if>
        <if test="psd!=null">
            and a.psd=#{psd}
        </if>
        <if test="childOrg!=null">
            and b.org_id in
            <foreach collection="childOrg" item="o" open="(" separator="," close=")">
                ${o.id}
            </foreach>
        </if>
        <if test="searchStr!=null">
            and concat(a.name, a.phone,b.position) like concat('%',#{searchStr},'%')
        </if>
        GROUP BY
        a.id
    </select>

    <select id="webLogin" parameterType="owner" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from o_owner where phone=#{phone} and psd=#{psd} AND deleted!=1
    </select>

    <insert id="insertOwnerOrgBatch" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO o_owner_org(user_id,org_id,acreage,remark,position) VALUES
        <foreach collection="list" separator="," item="o">
                (#{o.id},#{o.orgId},#{o.acreage},#{o.remark},#{o.position})
        </foreach>
    </insert>

    <select id="selectSumByOrgId" parameterType="java.lang.Integer" resultType="java.lang.Double">
        SELECT sum(a.acreage)
        FROM
            o_owner_org a,
            o_org b
        WHERE
            a.org_id = b.id
            AND (b.id = #{id} OR b.p_id = #{id})
    </select>
</mapper>